.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    width: 50%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 20px;
    box-shadow: rgb(146, 146, 146) 0px 25px 50px -12px;
    transition:transform 0.5s ease-in ;
}
.form:hover{
    background-image: linear-gradient(120deg, #8fd3f4 0%,#84fab0 100% );
    transform: scale(1.05);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 50px;
}
.txtarea{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
}
.input{
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgb(146, 146, 146) 0px 25px 50px -12px;
}
.input::placeholder{
    color: #000;
    font-family: poppins;
}
.input:active{
    outline: none;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.map{
        box-shadow: rgb(146, 146, 146) 0px 25px 50px -12px;

}


.form textarea {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
}

@media (max-width: 1024px) {
    .form {
        width: 80%; 
    }
    .map {
        width: 80vw; 
    }
}

@media (max-width: 768px) {
    .form {
        width: 95%; 
        padding: 15px;
    }
    .map {
        width: 95vw; 
        height: 350px; 
    }
    
    .input {
        width: 100%;
        box-sizing: border-box; 
    }
}