.grid{
    display: grid;
    grid-template-columns:auto auto auto ;

    padding: 10px;
    gap: 20px;

}
.gridcard{
    border: 1px solid black;
    position: relative;
    box-shadow: rgb(46, 46, 46) 1px 3px 5px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.gridcard:hover{
    transform: scale(1.05);
}
.gridcard img {
    object-fit: cover;
    object-position: center;
    height: 350px;
    width: 100%;
}
.date{
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    color: white;
    background-color: red;
    left:20px;
    font-weight: bolder;
    box-shadow: rgb(255, 252, 252) 1px 3px 5px;
    text-shadow: black 1px 3px 2px;
    z-index: 10;
}
.details{
    padding: 15px;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 16px;
    visibility: hidden;
    transform: translateY(100%);
    height: 100%;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bolder;

    
}
.gridcard:hover .details{
    transform: translateY(30%);
    visibility: visible;
    opacity: 1;

}
.gridcard:hover > img{
    opacity: 0.2;
    
}
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: auto auto; 
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: auto; 
    }
    .details {
        font-size: 15px;
    }
    .gridcard:hover .details{
        transform: translateY(25%);
    }
}