.tabs {
    display: flex;
    flex-wrap: wrap;
}
.tablabel{
    padding: 10px 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    
}
.tabsradio{
    display: none;
    
}
.content {
    order:1;
    width: 100%;
    border: 3px solid #dddd;
    line-height: 1.5;
    font-size: 20px;
    display: none;
    box-shadow: 3px 1px 50px black;
    border-radius: 20px;
}
.tabsradio:checked+.tablabel{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    border: 2px solid aqua;
    background-color: black;
}
.tabsradio:checked+.tablabel+.content{
    display: initial;
}
.outer{
    display: flex;
    justify-content: center;
}
.content p {
    font-weight: bolder;
    font-size: 25px;
    
}


li a{
    text-decoration:none;
    font-size: 18px;
}
li a:hover {
    color: white;
    text-decoration: underline rgb(255, 255, 255);
}

.content iframe {
    width: 100%;
    max-width: 560px; 
    height: auto;
    aspect-ratio: 16 / 9; 
}

@media (max-width: 768px) {
    .tabs {
        justify-content: center; 
    }
    .tablabel {
        font-size: 16px; 
        padding: 8px 12px;
    }
    .content {
        padding: 10px;
    }
    .content ul {
        padding-left: 20px; 
    }
    .content p {
        font-size: 20px; 
    }
}